<br/>
<div class="container">
	<div class="row block-1500">
	<div class="col-md-4 order-md-last d-flex"></div>
          <div class="col-md-4 order-md-last d-flex">
            <form action="#" class="bg-light p-5 contact-form"  #brand="ngForm" (submit)="onSubmit(brand)">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Brand" name="brandName" ngModel>
              </div>
              <div class="form-group">
                  
                  <input type="submit" value="Submit" class="btn btn-primary py-2 px-4 button-center">
                  
              </div>
            </form>
          </div>
          <div class="col-md-4 order-md-last d-flex"></div>
    </div>
</div>
<br/>